a:hover {
	color: blue;
}

h1,
h2,
h3,
h4 {
	padding-left: 10px;
}
span {
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	text-shadow: 1px 1px gray;
}

p {
	text-indent: 20px;
	letter-spacing: 1.5px;
}
